.container {
  width:100vw;
  height:100%;
  display:flex;
  background-color:var(--light-2);
}

.content {
  display:flex;
  flex-direction:row;
  height:100%;
  width:100%;
}

.health-container {
  width: 30vw;
  height:90vh;
  padding:10px;
}

.task-container {
  width: 70vw;
  overflow-y: auto;
}

.card {
  padding: 2em;
}

@media (max-width: 768px) { /* Hides the component when screen width is 768px or less */
  .health-container {
    display: none; /* Removes the element from the document flow */
  }
  .task-container {
    width: 100%; /* Removes the element from the document flow */
}
}