.content-container {
  height: 100%;
  background-color: var(--light-1);
  border-radius: 10px;
  padding-top: 10px;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 10px;
  overflow: auto;
  display: flex;
  flex-direction: column;
  gap: 1px;
}
.labels {
  color: black;
  margin: 10px;
  margin-left: 0px;
  font-weight: bold;
}
.scroll-buttons {
  align-items: center;
  text-align: center;
}
.button-selector {
  display: flex;
  flex-direction: row;
}
.button-selection {
  width: 25px;
  height: 25px;
  border: 2px solid var(--light-3);
  margin-left: -1px;
  background-color: var(--light-1);
  text-align: center;
  color: black;
  border-radius: 1px;
  padding: 0px;
}

.button-selection-selected {
  width: 25px;
  height: 25px;
  border: 2px solid var(--light-3);
  margin-left: -1px;
  background-color: var(--light-3);
  text-align: center;
  color: black;
  border-radius: 1px;
  padding: 0px;
}

.submit-button {
  margin-top: 20px;
  background-color: var(--dark-3);
  border: none;
  color: black;
  font-family: "Courier New", Courier, monospace;
}
